* {
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 100%;
}

#sortByDate {
    position: absolute;
    top: 4px;
    right: 25px;
    width: 9em;
}

/* Search box */

.searchBar {
    display: inline-block;
}


/* New Tweet Area */

#tweetBox {
    width: 100%;
}

#tweetCount {
    padding-top: 20px;
}


/* user/profile.ejs styles */

.editProfileLabel {
    float: left !important;
}

#profile-background {
    margin: 0;
    padding: 0;
    top: -20px;
    background: #1DA1F2;
    width: 100%;
    height: 160px;
}

#user-information {
    position: relative;
    left: 40px;
    top: -200px !important;
}

#user-image {
    width: 75% !important;
}

#user-panel {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    width: 100%;
    margin-top: 0;
    margin-bottom: 10px;
    padding: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
}

#user-meta {
    display: inline !important;
}

#edit-profile {
    float: right;
    margin-right: 50px;
}

#profile-description {
    width: 80%;
}

.tweet-image {
    height: 50px; 
    width: 50px;
}

.col-tweet {
    padding-left: 25px !important;
}

.tweet-user-date {
    margin-bottom: 0;
}

.delete-form {
    display: inline; 
    float: right; 
    position: relative; 
    top: -25px; 
    margin-bottom: -20px
}


/* NAVBAR */

.navbar-brand {
    text-align: center;
    transform: translateX(-50%);
    left: 50%;
    position: absolute;
    width: 200px;
}

.navbar-default {
    background-color: #0084b4;
    border-color: #0084b4;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    color: black;
    background-color: transparent;
}

.navbar-text {
    color: white !important;
}

span.glyphicon {
    position: relative;
    top: 4px;
    font-size: 1.4em;
    margin-right: 3px;
}

.miniProfile {
    width: 40px;
    height: 40px;
    background: url("/images/blank-profile.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

.btn-info {
    margin-left: 10px;
    height: 40px;
}

/* LANDING PAGE */

#landing {
    width: 100%;
    min-height: 100%;
    background-size: cover;
    position: relative;
}

.intro-message {
    padding-top: 17%;
    padding-bottom: 20%;
}

.twitter {
    background-color: #0084b4;
    color: white;
    box-shadow: 7px 7px 7px #888888;
    width: 75% !important;
    margin: 0 auto; 
    margin-bottom: 50px; 
    padding: 20px;
}

.createATweet {
    width: 75%; 
    margin: 25px auto;
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }
    .intro-message>h1 {
        font-size: 3em;
    }
    ul.intro-social-buttons>li {
        display: block;
        padding: 0;
    }
    ul.intro-social-buttons>li:last-child {
        margin-bottom: 0;
    }
    .intro-divider {
        width: 100%;
    }
}

.network-name {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 2px;
}


/* TWEETS PAGE */

.myJumbotron {
    background-color: #ACD0E1;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 1);
    box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 1);
}

.myJumbotron>h1 {
    text-align: center;
}

#tweetForm {
    width: 30%;
    margin: 25px auto;
}

#tweetBox {
    resize: none;
    height: 140px;
    margin-bottom: -40px;
}

#tweetForm button {
    background-color: #478AAA;
    border-color: #478AAA;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 1);
    box-shadow: 0px 1px 3px 0px rgba(51, 51, 51, 1);
}

#feed {
    width: 75%;
    margin: auto;
}

#feed .row {
    background-color: #eee;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    height: 115px;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 1);
    -moz-box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 1);
    box-shadow: 0px 1px 5px 0px rgba(51, 51, 51, 1);
}

#feed .thumbnail {
    height: 50px;
    width: 50px;
    margin: 25px auto;
    border-radius: 50%;
}

#feed .username {
    font-weight: 700;
    padding: 0;
    margin-bottom: -10px;
}

#feed .tweet {
    font-size: 17px;
    margin-left: 20px;
}

#feed .list-inline {
    margin-left: 10px;
}

#feed .date {
    font-size: 10px;
    text-align: right;
}